.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.profile-elm{
  max-height: 15vh;
  max-width: 25%;
}

.profile-img{
  border-radius: 50%;
  object-fit: fill;
}