.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.profile-elm{
  max-height: 15vh;
  max-width: 25%;
}

.profile-img{
  border-radius: 50%;
  object-fit: scale-down;
  max-height: 10vh;
}


.img-title{
  color: var(--light);
  text-shadow: .05em .05em .02em var(--dark);
}

.keep-card{
  border-radius: 2%;
}

.card-img{
  border-radius: 2%;
}